
table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}
th {
    background-color: lightblue;
}
tr:nth-child(even){
    background-color: yellow;
}
tr {
    background-color: skyblue;
}
h1 {
    text-align: center;
}